ServiceName: pr-bot
Env: local
Server:
  Host: localhost
  Port: 9090
  DisableTLS: true
GHE:
  Hostname: github-qa.marqeta.com
ConfigStore:
  Table: pr-bot-dev-config
  Refresh: 5m
Throttler:
  Table: "pr-bot-dev-throttle"
  PartitionKey: "key"
  SortKey: "time"
  TTLFieldName: "ttl"
OPA:
  Bundles:
    Root: "/Users/jamirkulov/ws/pr-bot/bundles"
    Filename: "pr-bot-policy-dev.tar.gz"
    ECR:
      Registry: "986695000930.dkr.ecr.us-east-1.amazonaws.com"
      Repo: "ci-staging/pr-bot-policies-dev/artifacts/opa-policy-bundle"
      Tag: "1.0-155-5fce699903430d03a1c88a82a0926cfaf121eba1"
  EvaluationReport:
    TTL: 336h
    TableName: "pr-bot-dev-evaluation-history"
Reviewer:
  Locker:
    TableName: "pr-bot-dev-reviews-lock-table"
Datastore:
  Table: "pr-bot-dev-datastore"
  TTL: 336h
Identity:
  AllowedCallerArns:
    - "some-fake-arn"
  AllowedCallerAccounts:
    - "0000000000"
